---
---

@import "{{ site.theme }}";

/* Custom overrides */
body {
  background-color: #2e2e2e; /* Dark grey */
  color: #e0e0e0;            /* Light text */
}

a {
  color: #7CFC00; /* Light green */
}

a:hover {
  color: #adff2f;
}
